* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

nav {
    background: linear-gradient(150deg, rgb(202, 127, 145), rgb(137, 2, 45));
    color: transparent;
}

/* Navbar Logo */
.navbar-logo {
    /* height: 55px;
    width: 55px; */
    object-fit: cover;
    border-radius: 50%;
    background: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.navbar-logo:hover {
    transform: scale(1.05);
}

/* Mobile */
@media (max-width: 768px) {
    .navbar-logo {
        height: 45px;
    }
}

nav li {
    list-style: none;
}

.dropdown-menu {
    z-index: 9999 !important;
}

.dropdown-item:hover {
    color: rgb(203, 62, 111);
}

nav .sidebar {
    background-color: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(10px);
}

.navbar i {
    cursor: pointer;
}

nav .sidebar {
    background-color: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(10px);
}

nav input {
    display: none;
}


@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

/* .search .searchIcon {
    color: white;
} */

.dp {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}